[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-restful = "*"
flask-sqlalchemy = "*"
flask-cors = "*"
pyjwt = "*"
psycopg2 = "*"
flask-migrate = "*"
flask-login = {extras = ["email"], version = "*"}
bootstrap-flask = "*"
flask-wtf = "*"
install = "*"
email-validator = "*"

[dev-packages]

[requires]
python_version = "3.8"
