{% extends  'base.html' %}

{% block content %}

<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">nome</th>
        <th scope="col">sobrenome</th>
        <th scope="col">telefone</th>
      </tr>
    </thead>
    <tbody>
      
        {% for contact in contacts %}
        <tr>
            <th scope="row"></th>
            <td> {{ contact["first_name"] }} </td>
            <td> {{ contact["last_name"] }} </td>
            <td> {{ contact["cellphone"] }} </td>
        </tr>
        {%  endfor %}
    </tbody>
  </table>

{% endblock %}